@inherits LayoutComponentBase
@using MudBlazor
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<NavBar></NavBar>
<div class="page">
    <div class="main">
        <div class="content">
            @Body
        </div>
    </div>
</div>
